@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --bg-accent: rgb(30 58 138 / 0.35);
  --text-accent: rgb(147 197 253);
  --bg-warning: rgb(120 53 15 / 0.35);
  --text-warning: rgb(252 211 77);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
